.container {
    overflow: hidden;
    min-height: 100vh;
}
.main {
    padding: 111px 40px 40px;
    position: relative;
    display: flex;
}
.main-info {
    max-width: 840px;
    width: 100%;
    position: relative;
}