@media (max-width: 1760px) {
    .main-title {
        font-size: 150px;
        left: -7px;
    }

    .main-info {
        max-width: 640px;
    }
}
@media (max-width: 1200px) {
    .main-info {
        max-width: 540px;
    }

    .main {
        padding: 111px 20px 20px;
    }

    .main-title {
        font-size: 120px;
        left: -4px;
    }

    .main-title-ghost {
        font-size: 220px;
    }
}