.container {
    overflow: hidden;
    min-height: 100vh;
}
.main {
    padding: 111px 40px 40px;
    position: relative;
    display: flex;
}
.main-info {
    max-width: 840px;
    width: 100%;
    position: relative;
}
.main-title {
    margin-top: 98px;
    font-weight: 500;
    font-size: 200px;
    line-height: 1;
    letter-spacing: -0.05em;
    color: #111111;
    left: -15px;
    position: relative;
}
.main-title span {
    color: #ffcc00;
}
.main-features {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.main-feature {
    background: #111111;
    color: #ffffff;
    padding: 12px 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    border-radius: 10px;
}